:root {
  /* #COLORS# */
  /* Primary */
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  /* Neutral */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  /* BORDER RADIUS */
  --radius: 1em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html {
  background-color: var(--Very-dark-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  display: grid;
  place-items: center;
  padding: 2em 0;
  color: white;
  width: 100vw;
  height: 100svh;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1em 0;
}
#generated {
  width: 100%;
}
#user {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#user-pfp img {
  width: 4em;
  border: 2px solid white;
  border-radius: 100%;
}
#user-info {
  position: relative;
  z-index: 1;
  background-color: var(--Blue);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}
#user-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#user-name span {
  opacity: 0.5;
}
#user-name h1 {
  font-size: 1em;
  font-weight: 300;
  min-width: fit-content;
}
#time-period {
  display: flex;
  cursor: default;
  background-color: var(--Dark-blue);
  justify-content: space-evenly;
  align-items: end;
  box-shadow: 0 -25px 0 0 var(--Dark-blue);
}
#time-period button {
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  opacity: 0.5;
}
#time-period button:disabled {
  cursor: default;
  opacity: 1;
}
.card-container {
  width: 100%;
  padding: 0.5em 0;
}
.card {
  background-color: var(--Dark-blue);
  border-radius: var(--radius);
  padding: 1.5em;
}
.card:hover {
  cursor: pointer;
  background-color: var(--Desaturated-blue);
}
/* Work / Play / Social etc */
.title {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
/* NAV  */
.select-button {
  background: none;
  border: none;
}

/* Hours */
.hours {
  padding: 0 0.1em;
  display: flex;
  margin: auto 0;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.current-hours {
  font-size: 2rem;
  font-weight: 300;
}
.previous-hours {
  opacity: 0.5;
}
/* Background icons */
.background {
  display: flex;
  justify-content: end;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 3em;
  border-radius: var(--radius) var(--radius) 0 0;
  overflow: hidden;
  margin-bottom: -1em;
}
.background img {
  position: relative;
  z-index: -2;
  top: -0.6em;
  scale: 0.8;
}
#work {
  background-color: var(--Light-red-work);
}
#play {
  background-color: var(--Soft-blue-play);
}
#study {
  background-color: var(--Light-red-study);
}
#exercise {
  background-color: var(--Lime-green-exercise);
}
#social {
  background-color: var(--Violet-social);
}
#self-care {
  background-color: var(--Soft-orange-self-care);
}
footer {
  margin-top: auto;
}
@media only screen and (min-width: 1000px) {
  main {
    display: grid;
    gap: 1em;
    grid-template-columns: 20 repeat(3, 20%);
    grid-template-areas:
      "user generated"
      "user generated";
  }
  #generated {
    grid-area: generated;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 250px);
    grid-template-areas: "work play study" 250xp,
      "exercise social self-care" 250px;
    width: fit-content;
  }
  .card {
    padding: 1.5em;
  }
  .card-container {
    padding: 0;
  }
  .hours {
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: auto 0;
    min-height: 4em;
  }
  #time-period {
    align-items: center;
    height: 40%;
    gap: 1em;
  }
  #user {
    grid-column: 1/2;
    grid-row: 1/-1;
    height: 100%;
  }
  #user-info {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 60%;
  }
  #user-name h1 {
    font-size: 2rem;
  }
  #work {
    grid-area: work;
  }
  #play {
    grid-area: play;
  }
  #study {
    grid-area: study;
  }
  #exercise {
    grid-area: exercise;
  }
  #social {
    grid-area: social;
  }
  #self-care {
    grid-area: self-care;
  }
}
